---
layout: blog-page
title: Blog
uppercase-title: BLOG
permalink: /blog/
---
<!-- John Louie's Personal Website -->
<div class="sidebar blog">
	<div class="button sidebar-close hvr-grow">
		<i class="ion-close"></i>
		<!-- <span class="menu-horizontal-bar top"></span> -->
		<!-- <span class="menu-horizontal-bar bottom"></span> -->
	</div>

	<div class="option">
		<span class="hvr-underline-from-left menu hvr-grow">
			<a href="{{ site.baseurl }}">HOME</a>
		</span>
	</div>

    {% for tab in site.pages %}
        {% if tab.uppercase-title %}
            <div class="option">
				<span class="hvr-underline-from-left menu hvr-grow">
	            	<a href="{{ tab.url | prepend: site.baseurl }}">
	            		{{ tab.uppercase-title }}
	            	</a>
				</span>
            </div>
        {% endif %}
    {% endfor %}

</div>
<div class="button sidebar-open">
	<i class="ion-navicon"></i>
	<!-- <span class="menu-horizontal-bar"></span> -->
	<!-- <span class="menu-horizontal-bar"></span> -->
	<!-- <span class="menu-horizontal-bar"></span> -->
</div>
<div class="content wrapper blog">
	<div class="page-header blog">
		<h1 class="page-title blog">
			Analog Mind
		</h1>
		<img class="blog stylized-l-under-title" src="../j.png" alt="stylized L">
		<div class="blog-dropdown">	
			<h3 class="blog-archive">
				<a href="#">
					<span class="hvr-underline-from-left anchor">Archive</span>
				</a>
			</h3>
			<h3 class="blog-topics">
				<a href="#">
					<span class="hvr-underline-from-left anchor">Topics</span>
				</a>
			</h3>
			<h3 class="blog-about">
				<a href="#">
					<span class="hvr-underline-from-left anchor">About</span>
				</a>
			</h3>
		</div>
	</div>

	<ul class="post-list blog">
		{% for post in site.categories.blog %}
			<li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
				<h2>
					<a class="post-link blog hvr-underline-from-left anchor" href="{{ post.url | prepend: site.baseurl }}">
						{{ post.title }}
					</a>
				</h2>

				{% if post.image %}<img src="{{ post.image }}" alt="{{ post.image-alt }}">{% endif %}

				{% if post.excerpt %}<p class="post-excerpt blog">{{ post.excerpt }}</p>{% endif %}

			</li>

			<div class="post-end-items">
				<div></div>
				<div></div>
				<div></div>
			</div>

			<div class="post-separator"></div>

		{% endfor %}
	</ul>

</div>