---
layout: blog-page
title: Blog
permalink: /blog/
---
<!-- John Louie's Personal Website -->
<div class="content wrapper blog">
	<div class="page-header blog">
		<h1 class="page-title blog">Random Musings</h1>
		<svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
		<!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
			<g>
				<path fill="#ffffff" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" id="svg_2" transform="rotate(43.69990921020508 309.26031494140625,220.65060424804688) "/>
				<path stroke="#000000" fill="#ffffff" stroke-width="3" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" id="svg_3" d="m335.43506,97.84077c0,0 291.9162,55.98485 258.39984,14.52248c-33.51477,-41.46207 -454.40669,52.13739 -488.33463,10.61118c-33.92648,-41.52496 260.21152,11.97398 260.21152,11.97398"/>
			</g>
		</svg>
		<div class="blog-dropdown">	
			<h3 class="blog-archive"><a href="#">Archive</a></h3>
			<h3 class="blog-topics"><a href="#">Topics</a></h3>
			<h3 class="blog-about"><a href="#">About</a></h3>
		</div>
	</div>

	<ul class="post-list blog">
		{% for post in site.posts %}
			<li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
				<h2>
					<a class="post-link blog" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>

				{% if post.image %}<img src="{{ post.image }}" alt="{{ post.image-alt }}">{% endif %}

				{% if post.excerpt %}<p class="post-excerpt">{{ post.excerpt }}</p>{% endif %}

			</li>

			<div class="post-end-items">
				<div></div>
				<div></div>
				<div></div>
			</div>

			<div class="post-separator"></div>

		{% endfor %}
	</ul>

</div>