---
layout: blog-page
title: Blog
permalink: /blog/
---
<!-- John Louie's Personal Website -->
<div class="sidebar blog">
	<div class="menu">
		<div>OPTION 1</div>
		<div>OPTION 2</div>
		<div>OPTION 3</div>
		<div>OPTION 4</div>
		<div>OPTION 5</div>
	</div>
</div>

<div class="content wrapper blog">
	<div class="button">button</div>
	<div class="page-header blog">
		<h1 class="page-title blog">Random Musings</h1>
		<img class="stylized-l-under-title" src="../j.png" alt="stylized L">
		<div class="blog-dropdown">	
			<h3 class="blog-archive"><a href="#">Archive</a></h3>
			<h3 class="blog-topics"><a href="#">Topics</a></h3>
			<h3 class="blog-about"><a href="#">About</a></h3>
		</div>
	</div>

	<ul class="post-list blog">
		{% for post in site.posts %}
			<li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
				<h2>
					<a class="post-link blog" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>

				{% if post.image %}<img src="{{ post.image }}" alt="{{ post.image-alt }}">{% endif %}

				{% if post.excerpt %}<p class="post-excerpt">{{ post.excerpt }}</p>{% endif %}

			</li>

			<div class="post-end-items">
				<div></div>
				<div></div>
				<div></div>
			</div>

			<div class="post-separator"></div>

		{% endfor %}
	</ul>

</div>