---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Variables
// Fonts:
$base-font-family: Helvetica, Arial, sans-serif;
$blog-font-family: "Quattrocento", Georgia, Times New Roman, Times, serif;
$general-page-content-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   19px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Coloring:

$text-color:       #000000;
$background-color: #FFFFFF;
$site-header-color: #2b2b2b;
$site-footer-color: $site-header-color;
$anchor-color:      #2a7ae2;
$grey-color:       #A9A9A9;
$icon-color:       $grey-color;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Spacing/Sizing: 

$spacing-unit:     30px;

$content-width:    800px;
$blog-sidebar-width: 200px;
$on-mobile:          600px;
$on-laptop:        800px;
$footer-size: 200px;
$base-font-weight: 300;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "about_me",
        "base",
        "blog",
        "homepage",
        "layout",
        "photos",
        "syntax-highlighting"
;
