
img.stylized-l-under-title {
    width: 40%;
    margin-bottom: 30px;
    margin-top: 0px;
}

.wrapper.blog {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin: 0 auto;
    text-align: center;
    font-family: $blog-font-family;
    padding: $spacing-unit;
    p {
        text-indent: 50px;
    }
}

a.post-link.blog {
    color: black;
    &:hover {
        text-decoration: underline;
    }
}


.post-content {

    h1.page-title.blog {
        // display: inline-block;
        margin-right: 5%;
        margin-left: 5%;
    }

}

.page-header.blog {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    h3 {
        display: inline-block;
        margin-right: 3%;
        margin-left: 3%;
        a {
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-dropdown {
    display: none;
}

.blog-archive {

}

.blog-topics {

}

.blog-about {

}

.post-list.blog {
    text-align: center;
}

.post-content.blog {
    margin-bottom: $spacing-unit;
    font-family: $blog-font-family;
}