
// Content div - this is the div that contains everything
//  that is appended to page div in blog-page and default-page

.content {
    // min-height: 100%;
    height: auto;
    // display: table-row;
    overflow: hidden;
    font-family: $general-page-content-font-family;

}

.content.center {
    background-color: #eee;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.content.left {

}

.content.right {

}

.nav-tab {
    display: inline-block;
    padding: 10px
}

.nav-tab.is-active {
    background-color: #080808;
}

/**
 * Site header
 */
.site-header {
    // border-bottom: 1px solid $grey-color-light;
    background-color: $site-header-color;
    // Positioning context for the mobile navigation icon
    position: relative;
    display: table-row;
    height: 58px;
    overflow: hidden;
}


.site-title {
    color: $grey-color;
    font-size: 29px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &:hover {
        color: white;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color; // #111
        line-height: $base-line-height;
        // margin-left: 20px;
        display: block;
        padding: 5px 10px;
        
        &:hover {
            color: white;
        }

    }

    .page-link.is-active {
        color: white;
    } 

    @include media-query($on-mobile) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        // border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            // padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

    }
}



/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    // position: absolute;
    background-color: $site-footer-color;
    display: table-row;
    height: 1px;
    overflow: hidden;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 6;
    color: $grey-color;
}

.contact-list {
    list-style: none;
    margin-left: 0;
    padding-top: 3%;
}

.social-media-list {
    list-style: none;
    margin-left: 0;
    a {
        vertical-align: text-bottom;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
    text-align: center;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-mobile) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.footer-col-2.center.social-media {
    margin: 0 auto;
    width: -webkit-calc(55% - (#{$spacing-unit} / 2));
    width:         calc(55% - (#{$spacing-unit} / 2));
    padding-left: 39%;
}

/**
 * Page content
 */
.page {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0pt;
}

.page-content {
    padding: $spacing-unit 0;
    background-color: $background-color;
}

.page-header {
    font-size: 20px;
}

.page-title {

}

/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit / 2;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-excerpt {
    text-align: left;
}

.post-separator {
    border-top: 1px dotted black;
    margin-top: 10px;
    padding-bottom: 20px;
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }


    h3 {
        font-size: 22px;
        @include media-query($on-laptop) {
            font-size: 20px;
        }

        a {
            color: $text-color;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.ion-ios-email {
    font-size: 22px;
    vertical-align: bottom;
    color: $grey-color;
}

.ion-close {
    font-size: 22px;
    color: $grey-color;
    &:hover {
        color: white;
    }
}

.ion-navicon {
    font-size: 40px;
    vertical-align: top;
    color: $grey-color;

}

.text {
    padding-top: 1%;
}

