
img.album.stylized-l-under-title {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    width: 30%;
}

.photos.title {
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

.photos.preamble {
    text-align: center;
    margin-bottom: 0px;
    max-width: 40%;
    margin: 0 auto;
}

.albums {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1%;
}

    .album-cover.hvr-grow {
        position: relative;
        display: inline-block;
        // background-color: black;
        -webkit-box-shadow: 2px 3px 19px 1px rgba(0,0,0,0.9);
        -moz-box-shadow: 2px 3px 19px 1px rgba(0,0,0,0.9);
        box-shadow: 2px 3px 19px 1px rgba(0,0,0,0.9);
        width: auto;
        height: auto;
        margin: 3.5%;
        &:hover {
            -webkit-transform: scale(1.025);
            -moz-transform: scale(1.025);
        }
    }

    // .album-cover.hvr-fade:hover {
    //     background-color: #000;
    // }

    // .hvr-fade, .hvr-grow {
    //     transition: 1s;
    // }

        .album-description {
            display: none;
            position: absolute;
            text-align: center;
            color: white;
            width: 100%;
            height: 100%;
        }

        .album.overlay {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        img.album {
            max-height: 355px;
            max-width: 355px;
        }
